.card-1 {
    opacity: 0;
    display: none;
}

.card-2 {
    opacity: 0;
    display: none;
}

.card-3 {
    opacity: 0;
    display: none;
}

.card-4 {
    opacity: 0;
    display: none;
}

.card-1--out {
    opacity: 1;
    display: flex;
}

.card-2--out {
    opacity: 1;
    display: flex;
    translate: 100% 0;
}

.card-3--out {
    opacity: 1;
    display: flex;
    translate: 200% 0;
}

.card-4--out {
    opacity: 1;
    display: flex;
    translate: 300% 0;
}
